.cards-list__item {
    background-color: transparent;
    width: 280px;
    height: 400px;
    perspective: 1000px;
    .cards-list-item__inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 1s ease;
        transform-style: preserve-3d;
    }
    &:hover .cards-list-item__inner {
        transform: rotateY(180deg);
    }
}
.item__back, .item__front {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.item__back {
    background-image: url('../img/repeat.jpg');
    background-repeat: repeat;
}
.item__front {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    padding: 15px;
    background-color: $milk;
    transform: rotateY(180deg);
    .item__name {
        justify-self: self-start;
        align-self: start;
        font-family: $fontFamily;
        font-size: rem(56px);
        line-height: 0.69;
        text-transform: uppercase;
        font-weight: 500;
        &:last-child {
            align-self: flex-end;
            rotate: 180deg;
        }
        &--dark {
            color: $dark;
        }
        &--red {
            color: $red;
        }
        span {
            display: block;
        }
    }
    .item__centre {
        display: grid;
        justify-self: center;
        align-self: center;
    }
}