.item__centre--seven {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 85px 15px;
    svg:nth-child(2){
        grid-row: span 3;
        align-self: center;
    }
}